    <div class="head_div" style="" ng-controller='ctrl_header' >
        <div class="hsplit" style="">
            <div class="logo" style="">
                <a href="index.html" >
                <img style="height: 42px;" src="https://rukminim1.flixcart.com/image/352/352/k0wqwsw0/showpiece-figurine/w/z/y/wps8054-craft-junction-original-imafkhg3dy9xgnkh.jpeg?q=70
                " >
                </a>
            </div>
            <div class="title" style="display: none;" >Fresh Mart</div>
            <div>
                <form ng-submit="search()" >
                    <div class="hsplit" style="margin-top: 10px;  margin-left: 20px;border: solid #ccc 1px;border-radius: 3px;">
                        <div>
                            <input type="text" ng-model="search_key" placeholder="Search..." name=""  style="border:solid #ccc 1px;height:28px; width:200px; padding: 0px 10px; outline: none;  border: none; ">
                        </div>
                        <div style="background-color: #eee;cursor: pointer; ">
                            <span class="material-icons" style="color:#aaa; font-size: 22px; vertical-align: middle;padding: 3px;">
                                search
                            </span>
                        </div>
                        <button type="submit" style="display: none;" >A</button>
                    </div>
                </form>
            </div>
            <div class="hsplit navbar_tabs" style=" float: right; margin-right: 25px;">
                <div class="show-md hide-xs show-sm">
                    <div style="" ng-if="is_login==false">
                        <a href="login.html">
                            <div class="heading" >Login</div>
                        </a>
                    </div>
                </div>
                <div class="show-md hide-xs show-sm">
                    <a href="product_page.html" ng-if="is_login==true">
                        <div class="heading">Products</div>
                    </a>
                </div>
                <div class="show-md hide-xs show-sm">
                    <a href="profile_page.html" ng-if="is_login==true">
                        <div class="heading">
                            <span class="material-icons" style="font-size: 18px; vertical-align: middle; margin-right: 10px;">
                                 person
                            </span>{{profile_name}}
                        </div>
                    </a>
                </div>
                <div class="show-md hide-xs show-sm">
                    <a href="cart.html" ng-if="role=='USER'">
                        <div class="heading">
                            <span class="material-icons" style="font-size: 18px; vertical-align: middle; margin-right: 10px;">
                                 shopping_cart
                            </span>Cart
                        </div>
                    </a>
                </div>
                <div class="show-md hide-xs show-sm">
                    <a href="sign_up.html" ng-if="is_login==false">
                        <div class="heading">Sign Up</div>
                    </a>
                </div>
                <div class="show-md show-xs show-sm" style="" >
                    <a >
                        <div class="menu"  ng-click="menu_close_open()">
                            <span class="material-icons" style="font-weight: 600;" >more_vert</span>
                        </div>
                    </a>
                </div>
            </div>
            <div style="position: fixed; top:62px; right:23px;border-radius: 2px;box-shadow: 1px 2px 3px #888888;cursor: pointer; z-index: 100px;background-color: #fff "; ng-if='open_menu'>
                <div class="logout_div" ng-if="role=='USER'" >
                    <a href="order.html"  style="text-decoration: none;">
                        <div >Orders</div>
                    </a>
                </div>

                <div class="logout_div" ng-if="role=='FARMER'" >
                    <a href="farmer_all_products.html"  style="text-decoration: none;">
                        <div >My Products</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="role=='FARMER'" >
                    <a href="item_export_import.html"  style="text-decoration: none;">
                        <div >Items Export / Import</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="role=='FARMER'" >
                    <a href="farmer_order_page.html"  style="text-decoration: none;">
                        <div >Orders</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="role=='DELIVERY_PERSON'" >
                    <a href="delivery_person_order_page.html"  style="text-decoration: none;">
                        <div >Orders</div>
                    </a>
                </div>
                <!--  -->
                <div class="logout_div" ng-if="role=='ADMIN'">
                    <a href="admin_user.html?role=USER"  style="text-decoration: none;">
                        <div >All Users</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="role=='ADMIN'">
                    <a href="orders_admin_page.html"  style="text-decoration: none;">
                        <div >All Orders</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="role=='ADMIN'">
                    <a href="admin_user.html?role=FARMER"  style="text-decoration: none;">
                        <div >All Farmers</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="role=='ADMIN'">
                    <a href="admin_user.html?role=DELIVERY_PERSON"  style="text-decoration: none;">
                        <div >All Delivery Person</div>
                    </a>
                </div>
                <!--  -->
                <div class="hide-md show-xs hide-sm logout_div" ng-if="is_login==false">
                    <a href="login.html" style="text-decoration: none;" >
                        <div>Login</div>
                    </a>
                </div>
                <div class="hide-md show-xs hide-sm logout_div" ng-if="is_login==true">
                    <a href="product_page.html" style="text-decoration: none;">
                        <div >Products</div>
                    </a>
                </div>
                <div class="hide-md show-xs hide-sm logout_div" ng-if="is_login==true" >
                    <a class="" href="profile_page.html">
                        <div class="hsplit">
                            <div >
                                <span class="material-icons" style=" vertical-align: middle; font-size: 18px;">
                                 person
                                </span>
                            </div>
                            <div  style="">{{profile_name}}</div>
                        </div>
                    </a>
                </div>
                <div class=" hide-md show-xs hide-sm logout_div" ng-if="role=='USER'">
                    <a href="cart.html"  >
                        <div class="hsplit">
                            <div >
                                <span class="material-icons" style=" vertical-align: middle; font-size: 18px;">
                                    shopping_cart
                                </span>
                            </div>
                            <div  style="">Cart</div>
                        </div>
                    </a>
               </div>
               <div class="hide-md show-xs hide-sm logout_div" ng-if="is_login==false">
                    <a href="sign_up.html" style="text-decoration: none;" >
                        <div>Sign Up</div>
                    </a>
                </div>
                <div class="logout_div" ng-if="is_login==true" >
                    <a ng-click='logout()'  style="text-decoration: none;">
                        <div>Logout</div>
                    </a>
                </div>
            </div>
            <!-- <div></div> -->
        </div>
    </div>
<div style="position: fixed;bottom: 25px;right: 70px;border-radius: 3px;width:250px; color:#ccc; z-index: 2;">
    <!-- I am sonu. I am sonu.I am sonu. {{page_loading}}. -->
    <div style="border:solid #ccc 1px;margin-bottom: 4px; margin-top: 4px; padding:20px 10px; border-radius: 3px;background-color: #333;color:#ccc; z-index: 2;" ng-repeat='x in messages'>
        {{x.message}}
    </div>
</div>
<div style="border:solid #ccc 1px; position:fixed;z-index: 5;width:100%; height:calc(100vh - 50px);background-color:rgba(255, 255, 255, 0.8); bottom: 0px;" ng-if="page_loading==true" >
    <div style="margin: auto; width: 100px; margin-top: 30vh;" >
        <img src="https://i.gifer.com/ZZ5H.gif" style="color:blue;margin: 2px;vertical-align: middle; width: 100px; " >
    </div>
</div>
<div style="height: 50px;" ></div>

