<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="stylesheet" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="main.js"></script>

<style>


</style>
</head>
<body  ng-controller="myCtrl" style="z-index: 1px;position: relative;" >
<!-- <div style="background-color:#333; z-index:10px; opacity:0.9; position:absolute; top: 1px; height:100%; width:100%">bjbjjhbj</div>
 --><div class="head_div"  >
  <div class="hsplit" style="">
      <div class="" style=" font-size:30px; font-weight:700; padding:15px 22px; color:#333; letter-spacing:2px;">
          <span style="color:#00bcd4;">SONU</span>
      </div>
      <div class="title" style="display: none;" >Fresh Mart</div>
      <div id="home" class="hsplit navbar_tabs" style=" float: right; margin-right: 25px;">
          <div class="show-md hide-xs show-sm"  >
              <div class="heading_profile" style="">
                <div style="" class="" ng-click="scroll('home')" >HOME</div>
              </div>
          </div>
          <div class="show-md hide-xs show-sm" >
            <div class="heading_profile" ng-click="scroll('about')">ABOUT</div>
          </div>
          <div class="show-md hide-xs show-sm" >
            <div class="heading_profile" ng-click="scroll('projects')">
              PROJECTS
            </div>
          </div>
          <div class="show-md hide-xs show-sm" >
            <div class="heading_profile" ng-click="scroll('contact')">
              CONTACT
            </div>
          </div>
      </div>
  </div>
      <!-- <div class="show-md show-xs show-sm" style="" >
            <div class="menu"  ng-click="menu_close_open()">
                <span class="material-icons" style="font-weight: 600;" >more_vert</span>
            </div>
          </div> -->
  </div>
  <div style="height: 45px;" ></div>
  <div style="color: #00bcd4; margin-bottom:30px; ">
    <img src="image/homeprofile9.png" style="width:100%">
    <!-- <div style="font-size:45px;position: absolute; top:600px; left: 600px; "> sonu</div> -->
  </div>
  <div id="about" class="hsplit" style="margin-top:20px; margin-bottom: 30px;" >
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="box-sizing:border-box;margin-top:40px;">
      <div style="font-size: 35px;color:black; text-align:center;"><b>Sonu Saini</b></div>
      <div style="font-size:15px; color:#00bcd4;letter-spacing:3px;margin-top: 14px;  font-weight: 700; text-align:center;">FREELANCER</div>
      <div style="color: #333; text-align: center; word-spacing: 2px; font-size: 15px;padding:15px 30px; line-height: 30px; text-align: justify;text-justify: inter-word;" >
        Hey, I'm a final-year Computer Science student from the IISER Bhopal. I am freelancing for the last three years, along with my studies. I developed projects for several startups, including Web & Mobile apps, Chatbots, Specific Software's, Machine Learning Solution, Video Tutorials, etc. My main research interests are in the fields of Machine Learning and Artificial Intelligence. I love to participate in Coding Competitions(mostly CodeChef), Hackathons, and other competitive events.
      </div>
      <div style="text-align: center;padding:20px;" class="show-xs show-sm hide-md">
        <button class="cv_button" style="width: 100%;" >Download CV</button>
      </div>
      <!-- <div style="text-align: right;padding-right:30px;" class="show-md hide-xs hide-sm">
        <button class="cv_button" style="" >Download CV</button>
      </div> -->
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="box-sizing:border-box;margin-top:25px;">
      <div style="padding:20px;"> <img src="image/skill2.png" style="width:100%"></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="box-sizing:border-box;margin-top:40px;"> 
      <div>
        <div style=" font-size: 23px;color:#333; text-align:left;letter-spacing:2px; font-weight:800;padding:1px 20px;">My Skills
        </div>
        <div style="  text-align:left;letter-spacing:1px; padding:1px 20px;"> 
          <p style="color: #00bcd4;font-size: 18px;font-weight:800;">Progrmming Langugauge and Frameworks</p>
          <div style="color:black;font-weight:800;"> Fluent:</div>
          <div style="">
            <p>
              <ul>
                <li style="color:#444; font-size: 14px;">Angular JS</li>
                <li style="color:#444; font-size: 14px; padding-top: 15px ;">Python</li>
                <li style="color:#444; font-size: 14px; padding-top: 15px ;">SQL</li>
                <li style="color:#444; font-size: 14px; padding-top: 15px ;">CSS</li>
                <li style="color:#444; font-size: 14px;padding-top: 15px ;">HTML</li>
              </ul>
            </p>
          </div>
        </div>   
      </div>    
   </div>   
  </div>
  <div style=" background-color:#00bcd4;margin-top:70px;margin-bottom:70px; height:60px;"></div>
  <div id="projects"  class="projects" style=""> 
      <span class="projects_span">Professional Projects</span>
  </div>
  <div class="hsplit" style="margin-top: 30px;">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style=" box-sizing: border-box;margin-top:50px;">
      <div class="product_div " style="box-sizing: border-box;">
        <div class="image_div_in_profile" style=" box-sizing: border-box;">
          <img src="image/vegthem3%20(1).jpg" style="width:100%;" class="image_div_image">
        </div>
        <div class="text_div" style=" " >
            <div class="text_div_content">
            Mohit...Mohit..MohitMohit... Mohit.MohitMohit...Mohit..MohitMohit... Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... Mohit
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style=" box-sizing: border-box;margin-top:50px;">
      <div class="product_div " style="box-sizing: border-box;">
        <div class="image_div_in_profile" style=" box-sizing: border-box;">
          <img src="image/cookthem4.jpg" style="width:100%;" class="image_div_image">
        </div>
        <div class="text_div" style="" >
          <div class="text_div_content">
            Mohit...Mohit..MohitMohit... Mohit.MohitMohit...Mohit..MohitMohit... Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... Mohit
            </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style=" box-sizing: border-box;margin-top:50px;">
      <div class="product_div " style="box-sizing: border-box;">
        <div class="image_div_in_profile" style=" box-sizing: border-box;">
          <img src="image/jewellthem4.jpg" style="width:100%;" class="image_div_image">
        </div>
        <div class="text_div" style="" >
            <div class="text_div_content">
            Mohit...Mohit..MohitMohit... Mohit.MohitMohit...Mohit..MohitMohit... Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... Mohit
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hsplit" style="margin-top: 30px;">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style=" box-sizing: border-box;margin-top:50px;">
      <div class="product_div " style="box-sizing: border-box;">
        <div class="image_div_in_profile" style=" box-sizing: border-box;">
          <img src="image/instagram1.jpg" style="width:100%;" class="image_div_image">
        </div>
        <div class="text_div" style=" " >
            <div class="text_div_content">
            Mohit...Mohit..MohitMohit... Mohit.MohitMohit...Mohit..MohitMohit... Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... Mohit
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style=" box-sizing: border-box;margin-top:50px;">
      <div class="product_div " style="box-sizing: border-box;">
        <div class="image_div_in_profile" style=" box-sizing: border-box;">
          <img src="image/sapsidi2.jpeg" style="width:100%;" class="image_div_image">
        </div>
        <div class="text_div" style="" >
          <div class="text_div_content">
            Mohit...Mohit..MohitMohit... Mohit.MohitMohit...Mohit..MohitMohit... Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... Mohit
            </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style=" box-sizing: border-box;margin-top:50px;">
      <div class="product_div " style="box-sizing: border-box;">
        <div class="image_div_in_profile" style=" box-sizing: border-box;">
          <img src="image/instagramlast.png" style="width:100%;" class="image_div_image">
        </div>
        <div class="text_div" style="" >
            <div class="text_div_content">
            Mohit...Mohit..MohitMohit... Mohit.MohitMohit...Mohit..MohitMohit... Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... MohitMohit...Mohit... Mohit
            </div>
        </div>
      </div>
    </div>
  </div>
  <div style=" background-color:#00bcd4;margin-top:70px;margin-bottom:70px; height:60px; z-index: 1px;"></div>
  <div id="contact"  class="projects" style="margin-bottom:80px;"> 
      <span class="projects_span">Contact</span>
  </div>
  <div class="hsplit" style="margin: 4px" >
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3" style="text-align: center;" >
            <div class="contact_repeat_div" >
                <div >
                    <span class="material-icons profile_color" style="font-size: 30px; ">
                    mail_outline
                    </span>
                </div>
                <div class="contact_name">EMAIL</div>
                <div style="padding:5px 0px;">
                  sonu2311saini@gmail.com
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3" style="text-align: center;"  >
            <div class="contact_repeat_div" >
                <div >
                    <span class="material-icons profile_color" style="font-size: 30px; ">
                    graphic_eq
                    </span>
                </div>
                <div class="contact_name">SOCIAL MEDIA</div>
                <div> 
                  <span class="material-icons profile_color">
                  facebook
                  </span>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>

  <div class="last_div">© 2022 Developed by Sonu Saini</div>


<script>
var app = angular.module('myApp', [])
app.controller('myCtrl', function($scope) {
	s = $scope
  $scope.scroll=function(x){
        window.scrollTo(0, document.getElementById(x).offsetTop - 200)
    }

});
</script>
</body>
</html>